body {
    background-color: #141414;
}

section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family:georgia;
    color: #efefef;
}

.container {
    width: 75%;
    padding: 16px;
}

.center img {        
    display:block;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
  }