* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(45deg, #F5F5DC, #139A43, #214E34);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
  
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family:georgia;
    color: #efefef;
}

.container {
    width: 75%;
    padding: 16px;
}

.center img {        
    display:block;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #232630;
}

.active {
  background-color: #192A51;
}

.circle-logo {
  border-radius: 50%;
  width: 280px;
  height: 280px;
  object-fit: cover; /*make sure the image fits distorion*/
}